@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: "Outfit", serif;
    scroll-behavior: smooth;
}

.line {
    background: radial-gradient(#ff0000 10%, #000 100%);
}

.footer__link:hover {
    text-decoration: underline;
}

.scrollbar-thin::-webkit-scrollbar {
    height: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
    background: #9ca3af;
    border-radius: 10px;
}
.scrollbar-thin::-webkit-scrollbar-track {
    background: #e5e7eb;
}
